<!DOCTYPE html>
<html>

    <head>
        <title>Book Review</title>

        <link href="{{ url_for('static', filename='styles/styles2.css') }}" rel="stylesheet" type="text/css" >
        
        <link rel = "stylesheet" href = "styles2.css">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>

    <body>

        <div class="navbar">
            <a href="FinishedWebsite.html">Home</a>
            <a href="places.html">Books</a>
            <a href="information.html">Sign Up</a>
        </div>

        <div class = "picContainer">
            <img src= "{{url_for('static', filename='pictures/Image2.jpg')}}" width = 100% height = "200" alt="Photo of mountains">
            <div class = "centered"><font color="white"><font size="72"><p style ="text-align: center;"><h1 class="display-4">{% block picword %}{% endblock %}</h1></p></font></font></div>
        </div>

        <div class="rowCon">
            <div class = "sideCol">
                {% block sidecontent %}{% endblock %}
            </div>

            <div class = "main">

                {% block rightHeader %}{% endblock %}

                <div class="media">
                    {% block image %}{% endblock %}

                    <div class="media-body">
                      {% block imagecontent %}{% endblock %}
        
                    </div>
                  </div>

            </div>

        </div>  

        


    </body>

    
</html>

